<div class="p-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center text-align text-align">
        <ul class="nav mb-2 justify-content-center  ">

        <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center  mb-md-0"> -->
          <li><a  routerLink="/home" class="nav-link px-2 text-white" >الرئيسية</a></li>
          <li><a  routerLink="/breaking" class="nav-link px-2 text-white">عاجل</a></li>
          <li><a  routerLink="/sport" class="nav-link px-2 text-white">رياضة</a></li>

          <li><a  routerLink="/health" class="nav-link px-2 text-white">صحة</a></li>
          <li><a  routerLink="/Science" class="nav-link px-2 text-white">علوم</a></li>
          <li><a  routerLink="/business" class="nav-link px-2 text-white">اعمال</a></li>
          <li><a  routerLink="/technology" class="nav-link px-2 text-white">تكنولوجيا</a></li>
          <li><a  routerLink="/entertainment" class="nav-link px-2 text-white">  وسائل الترفيه </a></li>

        </ul>
<!-- 
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="" aria-label="Search">
        </form> -->

       
    </div>
  </div>


 
